# macro_name x_coordinate y_coordinate orientation
# neuron_core_inst.synapse_matrix_inst.genblk1[0].X1_inst 825.52 1020.68 R0
# neuron_core_inst.synapse_matrix_inst.genblk1[10].X1_inst 3944.00 3559.12 R0
# neuron_core_inst.synapse_matrix_inst.genblk1[11].X1_inst 3944.00 4549.20 R0
# neuron_core_inst.synapse_matrix_inst.genblk1[12].X1_inst 825.52 3559.12 R0
# neuron_core_inst.synapse_matrix_inst.genblk1[13].X1_inst 825.52 4549.20 R0
# neuron_core_inst.synapse_matrix_inst.genblk1[14].X1_inst 4744.36 4549.20 R0
# neuron_core_inst.synapse_matrix_inst.genblk1[15].X1_inst 4744.36 3559.12 R0
# neuron_core_inst.synapse_matrix_inst.genblk1[1].X1_inst 825.52 30.60 R0
# neuron_core_inst.synapse_matrix_inst.genblk1[2].X1_inst 3944.00 1020.68 R0
# neuron_core_inst.synapse_matrix_inst.genblk1[3].X1_inst 3944.00 30.60 R0
# neuron_core_inst.synapse_matrix_inst.genblk1[4].X1_inst 25.84 30.60 R0
# neuron_core_inst.synapse_matrix_inst.genblk1[5].X1_inst 25.84 1020.68 R0
# neuron_core_inst.synapse_matrix_inst.genblk1[6].X1_inst 4744.36 30.60 R0
# neuron_core_inst.synapse_matrix_inst.genblk1[7].X1_inst 4744.36 1020.68 R0
# neuron_core_inst.synapse_matrix_inst.genblk1[8].X1_inst 25.84 4549.20 R0
# neuron_core_inst.synapse_matrix_inst.genblk1[9].X1_inst 25.84 3559.12 R0

# neuron_core_inst.synapse_matrix_inst.genblk1[0].X1_inst 1125.40 1320.56 R0
# neuron_core_inst.synapse_matrix_inst.genblk1[10].X1_inst 3644.12 3258.56 R0
# neuron_core_inst.synapse_matrix_inst.genblk1[11].X1_inst 3644.12 4448.56 R0
# neuron_core_inst.synapse_matrix_inst.genblk1[12].X1_inst 1125.40 3258.56 R0
# neuron_core_inst.synapse_matrix_inst.genblk1[13].X1_inst 1125.40 4448.56 R0
# neuron_core_inst.synapse_matrix_inst.genblk1[14].X1_inst 4644.40 4448.56 R0
# neuron_core_inst.synapse_matrix_inst.genblk1[15].X1_inst 4644.40 3258.56 R0
# neuron_core_inst.synapse_matrix_inst.genblk1[1].X1_inst 1125.40 130.56 R0
# neuron_core_inst.synapse_matrix_inst.genblk1[2].X1_inst 3644.12 1320.56 R0
# neuron_core_inst.synapse_matrix_inst.genblk1[3].X1_inst 3644.12 130.56 R0
# neuron_core_inst.synapse_matrix_inst.genblk1[4].X1_inst 125.80 130.56 R0
# neuron_core_inst.synapse_matrix_inst.genblk1[5].X1_inst 125.80 1320.56 R0
# neuron_core_inst.synapse_matrix_inst.genblk1[6].X1_inst 4644.40 130.56 R0
# neuron_core_inst.synapse_matrix_inst.genblk1[7].X1_inst 4644.40 1320.56 R0
# neuron_core_inst.synapse_matrix_inst.genblk1[8].X1_inst 125.80 4448.56 R0
# neuron_core_inst.synapse_matrix_inst.genblk1[9].X1_inst 125.80 3258.56 R0

# 8 macros in a 2x4 grid, rotated 90 degrees to fit the Caravel 2920x3520 area.
# Column 1 (Left)
neuron_core_inst.synapse_matrix_inst.genblk1[0].X1_inst 750 96 R270  
neuron_core_inst.synapse_matrix_inst.genblk1[1].X1_inst 750 952 R270
neuron_core_inst.synapse_matrix_inst.genblk1[2].X1_inst 750 1808 R270
neuron_core_inst.synapse_matrix_inst.genblk1[3].X1_inst 750 2664 R270

# # Column 2 (Right)
neuron_core_inst.synapse_matrix_inst.genblk1[4].X1_inst 1850 96 R270
neuron_core_inst.synapse_matrix_inst.genblk1[5].X1_inst 1850 952 R270
neuron_core_inst.synapse_matrix_inst.genblk1[6].X1_inst 1850 1808 R270
neuron_core_inst.synapse_matrix_inst.genblk1[7].X1_inst 1850 2664 R270



# neuron_core_inst.synapse_matrix_inst.genblk1[0].X1_inst 200 1064 R0
# neuron_core_inst.synapse_matrix_inst.genblk1[1].X1_inst 200 2364 R0

# neuron_core_inst.synapse_matrix_inst.genblk1[2].X1_inst 1700 1064 R0
# neuron_core_inst.synapse_matrix_inst.genblk1[3].X1_inst 1700 2364 R0


# neuron_core_inst.synapse_matrix_inst.genblk1[0].X1_inst  1000 1805 R270